{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "react-hooks", "import", "babel", "prettier"],
  "rules": {
    "quotes": [2, "single", { "avoidEscape": true }],
    "max-len": [1, 80, 2],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": "error",
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-empty-interface": 0
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  }
}
